p, li {
    font-size: 15px;
    font-family: monospace;
}

body {
    background-color: #252525;
}

.top-container {
    background-color: #303030;
    margin: 60 400;
    border: 1px solid #d8d8d8;
    border-radius: 15px;
    padding: 10px;
}

.title {
    text-align: center;
    color: #d8d8d8;
}

.landing-gif {
    margin: 20px auto;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    display: block;
}

.link-box {
    text-align: center;
    margin: 10px;
}

.link {
    color: #d62166;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 20px;
    display: inline;
}